.profile{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	position: relative;
    background-image: url("../../assets/images/bg-timer.png");
    background-size: cover;
    background-position: center;

    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #19191E;
        width: min-content;
        margin: 0.5rem auto;
        padding: 2rem;
        color: white;
        flex-grow: 1;

        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #19191e;

            &__subtitle{
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
                color: white;
                margin-bottom: 2rem;
            }

            &__input{
                width: 403px;
                padding: 0.6rem  1rem;
                margin-bottom: 1.2rem;
                font-size: 1.3rem;
                font-weight: bold;

                &::placeholder{
                    color: black;
                }

                &:disabled{
                    background-color: #c0c0c0;
                    border: none;
                }

                &::placeholder{
                    color: grey;
                    font-weight: 100;
                    font-size: 0.8em;
                }
            }

            &__inputInfos{
                font-size: 0.7em;
                position: relative;
                bottom: 15px;
                right: 15px;

                &__passwordVisibilityToggler{
                    position: relative;
                    height: 0;
                    color: black;
                    width: 100%;
                    background-color: red;
            
                    &__icon{
                        line-height: 100%;
                        position: absolute;
                        right: 10px;
                        bottom: 43px;
            
                        &:hover{
                            cursor: pointer;
                            color: #EE581E;
                        }
                    }
                }
            }

            &__label{
                width: 100%;
                text-align: left;
                margin-bottom: 0.3rem;
                color: #ee581e;
                font-weight: bold;
            }

            &__errorMsg{
                color: red;
                text-align: center;
                margin-top: 1rem;     
                border: 1px solid red;
                padding: 1rem;
            }

            &__successMsg{
                color: green;
                text-align: center;
                margin-top: 1rem;     
                border: 1px solid green;
                padding: 1rem;
            }

            &__buttons{
                width: 100%;
                display: flex;
                justify-content: space-around;

                &__button{
                    background-color: #ee581e;
                    color: #f2f2f2;
                    padding: 0.8rem 2rem;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 1.1rem;
                    border: 2px solid #19191e;
                    margin-top: 0.5rem;
    
                    &:hover{
                        cursor: pointer;
                        background-color: #19191e;
                        border: 2px solid #f2f2f2;
                        color: #EE581E;
                    }
                }
            }

            &__delete{
                color: #f2f2f2;
                margin-top: 1rem;
                transition: 0.2s;
                text-decoration: underline;
                font-size: 0.9rem;
                background-color: #19191e;
                border: none;

                &:hover{
                    cursor: pointer;
                    color: #ee581e;
                }
            }

        }
    }
}

.delete{

    &__confirm{
        text-align: center;
        line-height: 1.2rem;

        &--alert{
            color: red;
        }
    }
    
    &__buttons{
        display: flex;
        justify-content: space-around;

        &__button{
            background-color: #ee581e;
            color: #f2f2f2;
            padding: 0.8rem 2rem;
            border-radius: 5px;
            font-weight: 700;
            font-size: 1.1rem;
            border: 2px solid #19191e;
            margin-top: 0.5rem;
            margin-top: 1rem;

            &:hover{
                cursor: pointer;
                background-color: #19191e;
                border: 2px solid #f2f2f2;
                color: #EE581E;
            }
        }
    }
}

.invisible{
    display: none;
}

@media all and (max-width: 550px){

    .profile{
        
        &__body{
            margin-top: 92px;
            width: 100%;
            padding: 2rem 0;
            height: auto;
            margin-bottom: 0;
            border-bottom: 1px solid white;

            &__form{
                width: 90%;

                &__input{
                    width: auto;
                }

                &__inputInfos{
                    left: 15px;
    
                    &__passwordVisibilityToggler{
                
                        &__icon{
                            line-height: 100%;
                            position: absolute;
                            right: 25px;
                            bottom: 53px;
                
                            &:hover{
                                cursor: pointer;
                                color: #EE581E;
                            }
                        }
                    }
                }
            }
        }
    }
}