.forgotPassword{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	position: relative;
    background-image: url("../../assets/images/bg-timer.png");
    background-size: cover;
    background-position: center;

    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #19191E;
        width: min-content;
        margin: 2rem auto;
        padding: 2rem;
        color: white;
        flex-grow: 1;
        width: 400px;

        &__title{

            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            color: white;
            margin-bottom: 3rem;
        }

        &__message{
            font-size: 1.2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        &__form{
            width: 100%;
            display: flex;
            flex-direction: column;

            &__label{
                width: 100%;
                text-align: left;
                margin-left: 0.3rem;
                margin-bottom: 0.3rem;
                color: #ee581e;
                font-weight: bold;
            }

            &__input{
                padding: 0.5rem 0;
                font-size: 1.3rem;
                font-weight: bold;
                text-align: left;
                margin-bottom: 2rem;
                padding-left: 1rem;
            }

            &__submit{
                background-color: #ee581e;
                color: #f2f2f2;
                padding: 0.8rem 2rem;
                border-radius: 5px;
                font-weight: 700;
                font-size: 1.1rem;
                border: 2px solid #19191e;
                margin: 0 auto;
                margin-top: 0.5rem;
                width: min-content;
        
                &:hover{
                    cursor: pointer;
                    background-color: #19191e;
                    border: 2px solid #f2f2f2;
                    color: #EE581E;
                }
            }

            &__errorMessage{
                margin-bottom: 1rem;
                margin-top: 2rem;
                font-size: 1.1rem;
                color: red;
                border: 2px solid red;
                padding: 1rem;
                max-width: 400px;
                text-align: center;
                line-height: 1.3rem;
            }

            &__successMessage{
                margin-bottom: 1rem;
                margin-top: 2rem;
                font-size: 1.1rem;
                color: green;
                border: 2px solid green;
                padding: 1rem;
                max-width: 400px;
                text-align: center;
                line-height: 1.3rem;
            }
        }
    }
}