.tournament{
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: rgb(241, 240, 240);
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    position: relative;

    &__elements{
        display: flex;
        flex-grow: 1;
        
        &__element{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 140px;
    
            &__name{
                font-weight: bold;
                font-size: 1rem;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
    
            &__value{
                margin-right: 1rem;
                white-space: nowrap;
            }
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-around;
        position: relative;

        &__button{
            background-color: #19191e;
            border: none;
            color: #EE581E;
            padding: .5rem .7rem;
            border-radius: 5px;
            margin-right: 0.5rem;

            &:hover{
                cursor: pointer;
                background-color: #EE581E;
                color: white;
            }

            &__svg{
                position: relative;
                top: 3px;
            }
        }

        &__bubble{
            position: absolute;
            background-color: #EE581E;
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
            white-space: nowrap;
            color: white;
            z-index: 1000;
            top: 50px;
            right: 160px;
        }

        &__launch{
            padding: 0.8rem 1rem;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1rem;
            background-color: #ee581e;
            color: #f2f2f2;
            border: none;
    
            &:hover{
                cursor: pointer;
                background-color: #19191e;
                color: #ee581e;
                border: none;
                
            }
        }
    }
}

@media all and (max-width: 1000px){
    .tournament{
        flex-direction: column;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 1rem;

        &__elements{
            flex-direction: column;
            margin-bottom: 1rem;

            &__element{
                display: flex;
                flex-direction: row;
                width: 100%;

                &__name{
                    width: 80px;
                    white-space: nowrap;
                }
            }
        }

        &__buttons{
            flex-wrap: wrap;
            width: 200px;
            margin: 0 auto;

            &__button{
                margin-bottom: 1rem;
            }

            &__bubble{
                top: -60px;
                right: 0;
            }
        }
    }
}

@media all and (max-width: 1000px){
    .tournament{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}