.modal{
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    z-index: 150;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-out;


    &__content{
        background-color: #19191e;
        border-radius: 10px;

        &__header, &__footer, &__body{
            padding: 1rem;
        }

        &__header{

            position: relative;

            &__title{
                color: #f2f2f2;
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 2rem;
                text-align: center;
            }

            &__close{
                display: block;
                border: 2px solid #f2f2f2;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-weight: bold;
                position: absolute;
                right: 1rem;
                top: 1rem;

                &:hover{
                    color: #EE581E;
                    border: 2px solid #EE581E;
                    cursor: pointer;
                }
            }
        }
    }
}

.show{
    opacity: 1;
    pointer-events: visible;
}


@media all and (max-width: 480px){

    .modal{

        z-index: 150;
        overflow-y: scroll;

        &__content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}